footer {
    background-color: #0d1116;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    
    .footer-icons {
        margin-bottom: 10px;
        a {
            margin: 0 10px;
            color: white;
            font-size: 1.5rem;
            transition: color .15s ease-in-out;

            svg {
              vertical-align: middle;
            }

            &:hover {
                color: #5000ca;
            }
        }

        svg:not([href]) { 
          // Mungkin bisa diberi warna berbeda atau tanpa hover
          // color: grey; 
        }
    }

    p {
        margin: 0;
        font-size: 0.9rem;
        a {
            font-weight: bold;
            color: white;
            &:hover {
                color: #5000ca;
            }
        }
    }
}